@import "../../helpers/parameters.scss";

.total {
    max-width: 300px;
    width: 75%;
    margin: 50px auto;
    color: $color-text;
    font-size: 20px;
    text-align: center;

    &__no-items {
        // ..
    }

    &__amount {
        // ..
    }

    &__checkout-button {
        margin: 25px auto;
    }
}