$color-main-background: #111316;
$color-item-background: #2e3131;
$color-button-background: black;
$color-button-border: white;
$color-button-text: white;
$color-dark-black: black;
$color-text: white;
$color-border: white;