@import "../../helpers/parameters.scss";

.navigation {
    height: 50px;
    background-color: $color-main-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &__title-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        margin-left: 25px;
        text-decoration: none;
        color: $color-text;
    }

    &__logo {
        margin-left: 50px;
        font-size: 24px;
        color: $color-text
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        margin-right: 50px;

        &__item {
            min-width: 75px;
            background-color: $color-main-background;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            position: relative;
            text-decoration: none;
            color: $color-text;
            font-size: 20px;

            &__active {
                border-bottom: 3px solid white;
                border-top: 3px solid transparent;
            }

            &:hover {
                border-bottom: 3px solid white;
                border-top: 3px solid transparent;
            }
        }
    }
}