.page {
    // ...

    &__title {
        /// ..
    }

    &__container {
        background-color: lightgrey;
        max-width: 1200px;
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}