@import "../../helpers/parameters.scss";

.cart-item {
    min-height: 150px;
    width: 80%;
    max-width: 1200px;
    border: 1px solid $color-border;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    padding: 35px;
    background-color: $color-item-background;
    color: $color-text;
    position: relative;

    &__image {
        background-color: $color-dark-black;
        height: 75px;
        width: 125px;
    }

    &__block {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;

        &__title {
            font-size: 24px;
        }

        &__description {
            font-size: 18px;
        }
    }
}