@import "../../helpers/parameters.scss";

.item {
    width: 250px;
    height: 400px;
    border: 1px solid $color-border;
    margin: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $color-text;
    background-color: $color-item-background;
    position: relative;
    padding-bottom: 40px;

    &__title {
        font-size: 24px;
        width: 80%;
        text-align: center;
    }

    &__image {
        width: 200px;
        height: 100px;
        background-color: $color-dark-black;
    }

    &__description {
        font-size: 18px;
        width: 90%;
    }

    &__price {
        text-align: center;
        font-size: 24px;
        width: 90%;
    }
}